/*Universal box sizing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*Remove spinner from number input fields */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* Removes styling for mobile devices */

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
