//Text Colors
$placeholderColor: #999;
$error: #db4f4f;
$symbol: #d3d3d3;
$formText: #46545c;
$formHeading: #5d6f78;
//Borders and backgrounds
$darkGrey: #eef2f4;
$mainBorder: #ddd;
$buttonBorder: #ccc;
$borderBlue: #b0e5e3;
$backgroundBlue: #EEF9F9;
$payButton: #54c7c3;
$border: 1px #dddddd solid;
//Numbers
$mainRadius:10px;
$formRadius:5px;
